.header {
	background-color: #003580;
	color: white;
	display: flex;
	justify-content: center;
	position: relative;
}

.headerContainer {
	width: 100%;
	max-width: 1024px;
	margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
	margin: 20px 0px 0px 0px;
}

.headerList {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin-bottom: 50px;
}

.headerListItem {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.headerListItem.active {
	border: 1px solid white;
	border-radius: 20px;
	padding: 10px;
}

.headerTitle {
	font-size: 2.5rem;
}

.headerDesc {
	margin: 20px 0px;
	font-size: 1.25rem;
}

.headerBtn {
	background-color: #0071c2;
	color: white;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}
