.search {
	height: 30px;
	width: 100%;
	max-width: 1024px;
	background-color: white;
	border: 3px solid #febb02;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px 0px;
	position: absolute;
	bottom: -25px;
	z-index: 3;
}

.icon {
	color: gray;
}

.searchItem {
	display: flex;
	align-items: center;
	gap: 10px;
}

.searchInput {
	border: none;
	outline: none;
}

.searchText {
	color: gray;
	cursor: pointer;
}

.searchBtn {
	background-color: #0071c2;
	color: white;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}

.date {
	position: absolute;
	top: 40px;
}

.options {
	position: absolute;
	top: 40px;
	background-color: white;
	color: gray;
	border-radius: 5px;
}

.optionItem {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.optionCounter {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	color: black;
	margin-left: 20px;
}

.optionCounterBtn {
	width: 25px;
	height: 25px;
	background-color: #0071c2;
	color: white;
	cursor: pointer;
	border-radius: 2px;
	border: none;
}

.optionCounterBtn:disabled {
	cursor: not-allowed;
}
